/* Variáveis */
:root {
  --font_one: "Inter", sans-serif;
  --font_two: "Roboto Mono", monospace;

  --color_primary: #051d3b;
  --color_secundary: #5081fb;
  --color_secundary_opaca: hsla(223, 96%, 65%, 0.18);
  --color_terciary: #6bd1ff;
  --color_font_primary: #ffffff;
  --color_font_primary_opaca: rgba(255, 255, 255, 0.64);
}

/* Global */
* {
  margin: 0;
  padding: 0;
  background-color: var(--color_primary);
  font-family: var(--font_one);
}

.container {
  display: flex;
  gap: 7.6875rem;
  width: 86rem;
  height: 29.75rem;
  position: relative;
  left: 2rem;
  top: 4.5rem;
}

.container-0 {
  display: flex;
  gap: 2.5rem;
  /* width: 66.5rem;
  height: 29.75rem; */
}
/* Cabecalho */

.cabecalho {
  display: flex;
  /* display: none; */
  height: 3.5rem;
  position: relative;
  transform: translate(2rem, 2rem);
  justify-content: space-between;
  align-items: center;
  width: 86rem;

  & .cabecalho-imagem-logo {
    width: 9.0625rem;
    height: 2.128125rem;
    display: flex;
    align-items: center;
  }
}

.cabecalho-input-e-login {
  display: flex;
  gap: 12.875rem;
}

.input-padrao {
  font-family: var(--font_one);
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 0.5rem;
  border: solid 0px #ffffff;

  &::placeholder {
    font-size: 1rem;
    text-indent: 0.875rem;
    color: var(--color_font_primary_opaca);
  }
}

.cabecalho-busca {
  width: 47rem;
  height: 3.5rem;
}

.cabecalho-login {
  display: flex;
  gap: 0.5rem;
  align-content: center;
  justify-content: space-evenly;
  padding: 0.75rem;
}

.cabecalho-imagem-perfil {
  width: 2rem;
  height: 2rem;
}

.cabecalho-nome-perfil {
  font-size: 1rem;
  font-family: var(--font_one);
  color: var(--color_font_primary);
  font-weight: 400;
  display: flex;
  align-items: center;
}

/* Menu editor de código */

.menu-editor-cod {
  display: flex;
  /* display: none; */
  flex-flow: column;
  gap: 2rem;
  width: 47rem;
  height: 28.375rem;
}

.painel-editordecpdigo-cor {
  background-color: var(--color_terciary);
  padding: 2rem;
  width: 43rem;
  border-radius: 0.5rem;
}

.painel-editordecodigo {
  display: flex;
  flex-flow: column;
  background-color: black;
  width: 41rem;
  gap: 1.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  /* width: 16.875rem; */

  img {
    height: 0.75rem;
    width: 3.25rem;
    background-color: black;
  }
}

.preview {
  outline: none;
  font-family: var(--font_two);
  background-color: black;
  font-size: 1rem;
}

.area-editordecodigo {
  width: 41rem;
  height: 14.625rem;
  font-size: 0.875rem;
  font-family: "Roboto Mono", monospace;
  color: white;
  /* text-align: left; */
  background-color: black;
  border: none;
  resize: none;
  border-radius: 0.5rem;
}

.area-editordecodigo::placeholder {
  text-indent: 5%;
  margin: 0;
  color: white;
}

.botao-editordecodigo {
  background-color: var(--color_secundary_opaca);
  width: 47rem;
  height: 3.5rem;
  font-size: 1rem;
  color: var(--color_font_primary);
  cursor: pointer;

  &:hover {
    opacity: 65%;
  }
}

/* Menu navegação */

.menu-navegacao {
  display: flex;
  /* display: none; */
  flex-flow: column;
  gap: 1rem;
  width: 189px;
  height: 146px;
  /* position: relative;
  top: 6rem;
  left: 2rem; */
}

.title {
  font-size: 0.75rem;
  letter-spacing: 0.275rem;
  /* line-height: 1.125rem; */
  /* font-weight: 400; */
  color: var(--color_font_primary);
}

.navegacao-link {
  display: flex;
  flex-flow: row;
  gap: 1rem;
  align-items: center;
  text-decoration: none;

  &:hover {
    opacity: 80%;
  }
}

.navegacao-icon {
  width: 3rem;
}

.navegacao-texto {
  color: var(--color_font_primary);
  cursor: pointer;
}

/* MENU LATERAL */
.menu-lateral-main {
  display: flex;
  /* display: none; */
  flex-flow: column;
  gap: 2rem;
}

.lateral-element1 {
  display: flex;
  flex-flow: column;
  gap: 2.5rem;
}

.lateral-element2 {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.lateral-projeto {
  width: 17rem;
  height: 3.5rem;
  font-size: 1rem;

  &:hover {
    opacity: 80%;
  }
}

.lateral-descricao-projeto {
  width: 17rem;
  height: 5rem;
  resize: none;

  &::placeholder {
    position: relative;
    top: 1rem;
  }
}

.lateral-projeto {
  color: rgba(255, 255, 255, 0.64);
  text-indent: 0.875rem;

  option {
    color: rgba(255, 255, 255, 0.64);
  }
}

.lateral-cor {
  width: 17rem;
  height: 3.5rem;
  padding: 0.25rem;
  border: solid 1px var(--color_font_primary);
  border-radius: 0.5rem;
}

.menu-lateral-button {
  color: var(--color_primary);
  background-color: var(--color_secundary);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 80%;
  }
}
